body {
	background-color: #ffc0cb;
	font-size: 100.01%;
	width: 420px;
	height: auto;
}

#appelation{
    background-color: #ffc0cb;
}

#title {
    background-color: #fff;
    font-size: 100.01%;
    width: auto;
    height: 30px;
}

#time {
    background-color: #fff;
    font-size: 200.01%;
    width: auto;
    height: 50px;
    text-align: center;
}

#agenda {
    background-color: #fff;
    font-size: 100.01%;
    width: auto;
    height: auto;
}

#member {
    background-color: #fff;
    font-size: 100.01%;
    width: auto;
    height: auto;
}
